<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MovieSearchApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TmdbApiCall</display-name>
    <servlet-name>TmdbApiCall</servlet-name>
    <servlet-class>MovieDataBase.TmdbApiCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TmdbApiCall</servlet-name>
    <url-pattern>/TmdbApiCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrendingMovies</display-name>
    <servlet-name>TrendingMovies</servlet-name>
    <servlet-class>MovieDataBase.TrendingMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrendingMovies</servlet-name>
    <url-pattern>/TrendingMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopRatedMovies</display-name>
    <servlet-name>TopRatedMovies</servlet-name>
    <servlet-class>MovieDataBase.TopRatedMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopRatedMovies</servlet-name>
    <url-pattern>/TopRatedMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestingCode</display-name>
    <servlet-name>TestingCode</servlet-name>
    <servlet-class>MovieDataBase.TestingCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestingCode</servlet-name>
    <url-pattern>/TestingCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularMovies</display-name>
    <servlet-name>PopularMovies</servlet-name>
    <servlet-class>MovieDataBase.PopularMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularMovies</servlet-name>
    <url-pattern>/PopularMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsServlet</display-name>
    <servlet-name>DetailsServlet</servlet-name>
    <servlet-class>MovieDataBase.DetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsServlet</servlet-name>
    <url-pattern>/DetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopRated</display-name>
    <servlet-name>TopRated</servlet-name>
    <servlet-class>MovieDataBase.TopRated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopRated</servlet-name>
    <url-pattern>/TopRated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMovies</display-name>
    <servlet-name>GetMovies</servlet-name>
    <servlet-class>MovieDataBase.GetMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMovies</servlet-name>
    <url-pattern>/GetMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NowPlayingM</display-name>
    <servlet-name>NowPlayingM</servlet-name>
    <servlet-class>MovieDataBase.NowPlayingM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowPlayingM</servlet-name>
    <url-pattern>/NowPlayingM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LatestMovie</display-name>
    <servlet-name>LatestMovie</servlet-name>
    <servlet-class>MovieDataBase.LatestMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LatestMovie</servlet-name>
    <url-pattern>/LatestMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpComingM</display-name>
    <servlet-name>UpComingM</servlet-name>
    <servlet-class>MovieDataBase.UpComingM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpComingM</servlet-name>
    <url-pattern>/UpComingM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TreandingMovies</display-name>
    <servlet-name>TreandingMovies</servlet-name>
    <servlet-class>MovieDataBase.TreandingMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreandingMovies</servlet-name>
    <url-pattern>/TreandingMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularTv</display-name>
    <servlet-name>PopularTv</servlet-name>
    <servlet-class>MovieDataBase.PopularTv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularTv</servlet-name>
    <url-pattern>/PopularTv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopRatedTv</display-name>
    <servlet-name>TopRatedTv</servlet-name>
    <servlet-class>MovieDataBase.TopRatedTv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopRatedTv</servlet-name>
    <url-pattern>/TopRatedTv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnTheAirTv</display-name>
    <servlet-name>OnTheAirTv</servlet-name>
    <servlet-class>MovieDataBase.OnTheAirTv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnTheAirTv</servlet-name>
    <url-pattern>/OnTheAirTv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularM</display-name>
    <servlet-name>PopularM</servlet-name>
    <servlet-class>MovieDataBase.PopularM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularM</servlet-name>
    <url-pattern>/PopularM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movieDetails</display-name>
    <servlet-name>movieDetails</servlet-name>
    <servlet-class>MovieDataBase.movieDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movieDetails</servlet-name>
    <url-pattern>/movieDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TvShowDetails</display-name>
    <servlet-name>TvShowDetails</servlet-name>
    <servlet-class>MovieDataBase.TvShowDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TvShowDetails</servlet-name>
    <url-pattern>/TvShowDetails</url-pattern>
  </servlet-mapping>
</web-app>